@using Webapp.Models.Data;
@model Webapp.Models.UserViewModel

@{
    ViewData["Title"] = "Patiënt";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (User.IsInRole("patient"))
{
    <link rel="stylesheet" href="~/css/Slider.css" />
    <div class="container bootstrap snippet">
        <form class="form" method="post" id="registrationForm">
            <div class="row">
                <div class="col-sm-10"><h1>Patiënt</h1><hr /></div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Algemeen</a></li>
                        <li><a data-toggle="tab" href="#messages">Privacy</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <hr>


                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="name" class="h4">Volledige naam</label>
                                    <input type="text" value="@Model.Patient.Name" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Gender" class="h4">Geslacht</label>
                                    <label typeof="text" class="form-control">
                                        @foreach (string gender in Model.Patient.Genders)
                                        {
                                            if (Model.Patient.Genders.IndexOf(gender) == Model.Patient.GenderId)
                                            {
                                               @gender
                                            }
                                        }
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="BSN" class="h4">BSN</label>
                                    <input type="text" value="@Model.Patient.BSN" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Birthday" class="h4">Geboortedatum</label>
                                    <input type="date" value="@Model.Patient.Birth.ToString("yyyy-MM-dd")" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Username" class="h4">Gebruikersnaam</label>
                                    <input type="text" value="@Model.Patient.UserName" class="form-control" disabled id="username" placeholder="username" title="voer je gebruikersnaam in">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="email" class="h4">Email</label>
                                    <input type="email" asp-for="Patient.Email" value="@Model.Patient.Email" class="form-control" id="email" placeholder="jouw@email.com" title="Voer je email in.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="phonenumber" class="h4">Telefoonnummer</label>
                                    <input type="tel" asp-for="Patient.Phone" value="@Model.Patient.Phone" class="form-control" id="phone" placeholder="Voer je telefoonnummer in" title="Voer je telefooonnummer in.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Zipcode" class="h4">Postcode</label>
                                    <input type="text" asp-for="Patient.Zipcode" value="@Model.Patient.Zipcode" class="form-control" id="zipcode" placeholder="Postcode" title="Voer hier je postcode in">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="HouseNumber" class="h4">Huisnummer</label>
                                    <input type="text" asp-for="Patient.HouseNumber" value="@Model.Patient.HouseNumber" class="form-control" id="address" placeholder="Huisnummer" title="Voer je huisnummer in">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="ContactPersonName" class="h4">Contactpersoon naam</label>
                                    <input type="text" asp-for="Patient.ContactPersonName" value="@Model.Patient.ContactPersonName" class="form-control" id="contactPersonName" placeholder="Contactpersoon naam" title="Voer hier de contactpersoon naam in.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="ContactPersonPhone" class="h4">Contactpersoon telefoonnummer</label>
                                    <input type="tel" asp-for="Patient.ContactPersonPhone" value="@Model.Patient.ContactPersonPhone" class="form-control" id="contactPersonPhone" placeholder="Contactpersoon telefoonnummer" title="Voer hier het telefoonnummer van je contactpersoon in.">
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit" asp-controller="profile" asp-action="Edit"><i class="glyphicon glyphicon-ok-sign"></i> Opslaan</button>
                                <button class="btn btn-lg" input type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset gegevens</button>
                            </div>

                            <hr>

                        </div><!--/tab-pane-->
                        <div class="tab-pane" id="messages">

                            <h2></h2>

                            <hr>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input asp-for="Patient.PrivMail" type="checkbox" checked="@Model.Patient.PrivMail">
                                        <span class="slider"></span>
                                    </label>
                                    Email
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input asp-for="Patient.PrivGender" type="checkbox" checked="@Model.Patient.PrivGender">
                                        <span class="slider"></span>
                                    </label>
                                    Geslacht
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" asp-for="Patient.PrivBirthDate" checked="@Model.Patient.PrivBirthDate">
                                        <span class="slider"></span>
                                    </label>
                                    Geboortedatum
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" asp-for="Patient.PrivPhone" checked="@Model.Patient.PrivPhone">
                                        <span class="slider"></span>
                                    </label>
                                    Telefoonnummer
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" asp-for="Patient.PrivAdress" checked="@Model.Patient.PrivAdress">
                                        <span class="slider"></span>
                                    </label>
                                    Adres
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" asp-for="Patient.PrivContactPersonPhone" checked="@Model.Patient.PrivContactPersonPhone">
                                        <span class="slider"></span>
                                    </label>
                                    Contact persoon telefoonnummer
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" asp-for="Patient.PrivContactPersonName" checked="@Model.Patient.PrivContactPersonName">
                                        <span class="slider"></span>
                                    </label>
                                    Contact persoon naam
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit" asp-controller="profile" asp-action="Edit"><i class="glyphicon glyphicon-ok-sign"></i> Opslaan</button>
                            </div>

                        </div><!--/tab-pane-->
                    </div><!--/tab-pane-->

                </div><!--/tab-content-->

            </div><!--/col-9-->
        </form>
    </div><!--/row-->
    
}
else if (User.IsInRole("doctor"))
{
    <link rel="stylesheet" href="~/css/User.css" />
    <div class="container bootstrap snippet">
        <form class="form" method="post" id="registrationForm">
            <div class="row">
                <div class="col-sm-10"><h1>Doctor</h1><hr /></div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Algemeen</a></li>
                        <li><a data-toggle="tab" href="#privacy">Privacy</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <hr>


                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="name" class="h4">Volledige naam</label>
                                    <input type="text" asp-for="Doctor.Name" value="@Model.Doctor.Name" class="form-control" id="name" placeholder="Voer je naam in" title="Voer je naam in.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Gender" class="h4">Geslacht</label>
                                    <select tag="option" input asp-for="Doctor.GenderId" class="form-control" id="gender" placeholder="Voer je geslacht in" title="Voer je geslacht in.">
                                        @foreach (string gender in Model.Doctor.Genders)
                                         {
                                            <option value="@Model.Doctor.Genders.IndexOf(gender)">@gender</option>
                                         }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Employeenumber" class="h4">Medewerkersnummer</label>
                                    <input type="text" asp-for="Doctor.EmployeeNumber" value="@Model.Doctor.EmployeeNumber" readonly class="form-control" id="Employeenumber" placeholder="EmployeeNumber" title="Voer hier je EmployeeNumber in.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Birthday" class="h4">Geboortedatum</label>
                                    <input type="date" asp-for="Doctor.Birth" value="@Model.Doctor.Birth.ToString("yyyy-MM-dd")" readonly class="form-control" id="birthday" placeholder="Geboortedatum" title="Voer hier je Geboortedatum in.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Username" class="h4">Gebruikersnaam</label>
                                    <input type="text" asp-for="Doctor.UserName" value="@Model.Doctor.UserName" readonly class="form-control" id="username" placeholder="username" title="voer je gebruikersnaam in">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="email" class="h4">Email</label>
                                    <input type="email" asp-for="Doctor.Email" value="@Model.Doctor.Email" class="form-control" id="email" placeholder="jouw@email.com" title="Voer je email in.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="phonenumber" class="h4">Telefoonnummer</label>
                                    <input type="tel" asp-for="Doctor.Phone" value="@Model.Doctor.Phone" class="form-control" id="phone" placeholder="Voer je telefoonnummer in" title="Voer je telefooonnummer in.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit" asp-controller="profile" asp-action="Edit"><i class="glyphicon glyphicon-ok-sign"></i> Opslaan</button>
                                    <button class="btn btn-lg" input type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset gegevens</button>
                                </div>
                            </div>


                            <hr>
                        </div><!--/tab-pane-->
                        <!-- Hier komt de code voor de tab privacy-->
                        <div class="tab-pane" id="privacy">

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" asp-for="Doctor.PrivMail" checked="@Model.Doctor.PrivMail">
                                        <span class="slider"></span>
                                    </label>
                                    Email
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" asp-for="Doctor.PrivPhonenumber" checked="@Model.Doctor.PrivPhonenumber">
                                        <span class="slider"></span>
                                    </label>
                                    Telefoonnummer
                                </div>
                            </div>
                        </div><!--/tab-pane-->
                    </div><!--/tab-pane-->
                </div><!--/tab-content-->
            </div><!--/col-9-->
        </form>
    </div><!--/row-->


}