@using Webapp.Models.Data;
@model Webapp.Models.UserViewModel
@{
    ViewData["Title"] = "Profiel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("patient"))
{
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10"><h1>Patiënt</h1><hr /></div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Algemeen</a></li>
                    <li><a data-toggle="tab" href="#messages">Privacy</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <form class="form" action="##" method="post" id="registrationForm">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="name" class="h4">Volledige naam</label>
                                    <p>@Model.Patient.Name</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="h4">Geslacht</label>
                                    @if (Model.Patient.GenderId == 0)
                                    {
                                        <p>Man</p>
                                    }
                                    else if (Model.Patient.GenderId == 1)
                                    {
                                        <p>Vrouw</p>
                                    }
                                    else
                                    {
                                        <p>Anders</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="BSN" class="h4">BSN</label>
                                    <p>@Model.Patient.BSN</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Birthday" class="h4">Geboortedatum</label>
                                    <p>@Model.Patient.Birth.ToString("dd-MM-yyyy")</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Username" class="h4">Gebruikersnaam</label>
                                    <p>@Model.Patient.UserName</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="email" class="h4">Email</label>
                                    <p>@Model.Patient.Email</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="phonenumber" class="h4">Telefoonnummer</label>
                                    <p>@Model.Patient.Phone</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Zipcode" class="h4">Postcode</label>
                                    <p>@Model.Patient.Zipcode</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="HouseNumber" class="h4">Huisnummer</label>
                                    <p>@Model.Patient.HouseNumber</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="ContactPersonName" class="h4">Contactpersoon naam</label>
                                    <p>@Model.Patient.ContactPersonName</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="ContactPersonPhone" class="h4">Contactpersoon telefoonnummer</label>
                                    <p>@Model.Patient.ContactPersonPhone</p>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <br>
                                <a asp-controller="profile" asp-action="edit" class="btn btn-primary"><i class="fa fa-edit"></i> Aanpassen</a>
                            </div>

                        </form>

                        <hr>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="messages">
                        <form class="form" action="#" method="post" id="registrationForm">

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Patient.PrivMail" readonly>
                                        <span class="slider"></span>
                                    </label>
                                    Email
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Patient.PrivGender" readonly>
                                        <span class="slider"></span>
                                    </label>
                                    Geslacht
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Patient.PrivBirthDate" readonly>
                                        <span class="slider"></span>
                                    </label>
                                    Geboortedatum
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Patient.PrivPhone" readonly>
                                        <span class="slider"></span>
                                    </label>
                                    Telefoonnummer
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Patient.PrivAdress" readonly>
                                        <span class="slider"></span>
                                    </label>
                                    Adres
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Patient.PrivContactPersonPhone" readonly>

                                        <span class="slider"></span>
                                    </label>
                                    Contact persoon telefoonnummer
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Patient.PrivContactPersonName" readonly>
                                        <span class="slider"></span>
                                    </label>
                                    Contact persoon naam
                                </div>
                            </div>

                        </form>
                    </div><!--/tab-pane-->
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->
}
else if (User.IsInRole("doctor"))
{
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10"><h1>Arts</h1><hr /></div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Algemeen</a></li>
                    <li><a data-toggle="tab" href="#privacy">Privacy</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <form class="form" action="##" method="post" id="registrationForm">

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="name" class="h4">Volledige naam</label>
                                    <p>@Model.Doctor.Name</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="h4">Geslacht</label>
                                    @if (Model.Doctor.GenderId == 0)
                                    {
                                        <p>Man</p>
                                    }
                                    else if (Model.Doctor.GenderId == 1)
                                    {
                                        <p>Vrouw</p>
                                    }
                                    else
                                    {
                                        <p>Anders</p>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Employeenumber" class="h4">Werknemersnummer</label>
                                    <p>@Model.Doctor.EmployeeNumber</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Birthday" class="h4">Geboortedatum</label>
                                    <p>@Model.Doctor.Birth.ToString("dd-MM-yyyy")</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="Username" class="h4">Gebruikersnaam</label>
                                    <p>@Model.Doctor.UserName</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="email" class="h4">Email</label>
                                    <p>@Model.Doctor.Email</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="phonenumber" class="h4">Telefoonnummer</label>
                                    <p>@Model.Doctor.Phone</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="treatments" class="h4">Uitvoerbare behandelingen</label>
                                    @foreach (var Type in Model.Doctor.TreatmentTypes)
                                    {
                                        <option>@Type.Name</option>
                                    }
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <br>
                                <a asp-controller="profile" asp-action="edit" class="btn btn-primary"><i class="fa fa-edit"></i> Aanpassen</a>
                            </div>
                        </form>
                        <hr>

                    </div><!--/tab-pane-->
                    <!-- Hier komt de code voor de tab privacy-->
                    <div class="tab-pane" id="privacy">
                        <form class="form" action="#" method="post" id="registrationForm">

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Doctor.PrivMail" disabled>
                                        <span class="slider"></span>
                                    </label>
                                    Email
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        <input type="checkbox" checked="@Model.Doctor.PrivPhonenumber" disabled>
                                        <span class="slider"></span>
                                    </label>
                                    Telefoonnummer
                                </div>
                            </div>

                        </form>
                    </div><!--/tab-pane-->
                    <!--     Hier komt de code voor de tab privacy-->
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->
}