@using Webapp.Models.Data;
@model Webapp.Models.PatientDetailViewModel;

@{
    ViewData["Title"] = "Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (User.IsInRole("doctor"))
{
    <h2>Arts</h2>
}
else if (User.IsInRole("patient"))
{
    <h2>Patiënt</h2>
}

<link rel="stylesheet" href="~/css/User.css" />
<div class="container bootstrap snippet col-lg-offset-0" id="container">
    <div class="row">
        <div class="col-sm-10"><h1>Gegevens patiënt</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" method="post" id="registrationForm">
                        <div class="col-xs-6">
                            <label asp-for="Name" class="h4">Volledige naam</label>
                            <input asp-for="Name" type="text" readonly class="form-control" name="name" id="name" placeholder="Voer je naam in" title="Voer je naam in." value="@Model.Name">
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="GenderId" for="Gender" class="h4">Geslacht</label>
                            <select asp-for="GenderId" type="text" readonly class="form-control" name="gender" id="gender" placeholder="Geslacht" title="Geslacht.">
                                @for (int i = 0; i < Model.Genders.Count; i++)
                                {
                                    if ((i == Model.GenderId))
                                    {
                                        <option value="@i">@Model.Genders[i]</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="Birth" for="Birthday" class="h4">Geboortedatum</label>
                            <input asp-for="Birth" type="date" readonly class="form-control" name="enddate" id="enddate" placeholder="Geboortedatum" title="Geboortedatum" value="@Model.Birth.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="Age" for="Age" class="h4">Leeftijd</label>
                            <input asp-for="Age" type="text" readonly class="form-control" name="age" id="age" placeholder="Je leeftijd" title="Je leeftijd." value="@Model.Age">

                            <br />
                            <br />
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="TreatmentDetailViewModels[0].Name" for="nameTreatment" class="h4">Naam behandeling</label>
                            <input asp-for="TreatmentDetailViewModels[0].Name" type="text" readonly class="form-control" name="nameTreatment" id="nameTreatment" placeholder="Naam van de behandeling" title="Naam van de behandeling." value="@Model.TreatmentDetailViewModels[0].Name">
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label asp-for="TreatmentDetailViewModels[0].TypeName" for="TreatmentType" class="h4">Type behandeling</label>
                                <input asp-for="TreatmentDetailViewModels[0].TypeName" type="text" readonly class="form-control" name="treatmentType" id="treatmentType" placeholder="naam" title="Dit is het type behandeling." value="@Model.TreatmentDetailViewModels[0].TypeName">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label asp-for="TreatmentDetailViewModels[0].BeginDate" for="Begindate"><h4>Begindatum</h4></label>
                            <input asp-for="TreatmentDetailViewModels[0].BeginDate" type="date" readonly class="form-control" name="begindate" id="begindate" placeholder="Begindatum behandeling" title="Begindatum behandeling" value="@Model.TreatmentDetailViewModels[0].BeginDate.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="col-xs-3">
                            <label asp-for="TreatmentDetailViewModels[0].BeginTime" for="BeginTime"><h4>Begintijd</h4></label>
                            <input asp-for="TreatmentDetailViewModels[0].BeginTime" type="time" readonly class="form-control" name="beginTime" id="beginTime" title="Begintijd behandeling" value="@Model.TreatmentDetailViewModels[0].BeginDate.ToShortTimeString()">
                        </div>
                        <div class="col-xs-3">
                            <label asp-for="TreatmentDetailViewModels[0].EndDate" for="Enddate"><h4>Einddatum</h4></label>
                            <input asp-for="TreatmentDetailViewModels[0].EndDate" type="date" readonly class="form-control" name="enddate" id="enddate" placeholder="Einddatum behandeling" title="Einddatum behandeling" value="@Model.TreatmentDetailViewModels[0].EndDate.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="col-xs-3">
                            <label asp-for="TreatmentDetailViewModels[0].EndTime" for="EndTime"><h4>Eindtijd</h4></label>
                            <input asp-for="TreatmentDetailViewModels[0].EndTime" type="time" readonly class="form-control" name="endTime" id="endTime" title="Eindtijd behandeling" value="@Model.TreatmentDetailViewModels[0].EndDate.ToShortTimeString()"><br />
                        </div>

                        @if (User.IsInRole("doctor"))
                        {
                            <div class="col-xs-12">
                                <label for="Comments" class="h4">Nieuwe opmerking</label>
                                <input type="text" class="form-control" asp-for="TreatmentDetailViewModels[0].Description.Title" placeholder="Nieuw Titel" title="Titel van opmerking.">
                                <span asp-validation-for="TreatmentDetailViewModels[0].Description.Title" class="text-danger"></span>
                                <br />
                                @Html.TextAreaFor(e => e.TreatmentDetailViewModels[0].Description.Description, new { @class = "form-control", @placeholder = "Inhoud van opmerking", @title = "Inhoud van opmerking" })
                                <br />
                                <button type="submit" class="btn btn-primary" asp-controller="Patient" asp-action="Treatment">Plaats Comment</button>
                                <span asp-validation-for="TreatmentDetailViewModels[0].Description.Description" class="text-danger"></span>
                            </div>
                        }

                        <div class="col-xs-12">
                            <label for="Comments"><h4>Opmerkingen</h4></label>
                            @foreach (Comment comment in Model.TreatmentDetailViewModels[0].Comments)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">@comment.Title</div>
                                    <div class="panel-body"> @comment.Description </div>
                                </div>
                            }
                        </div>

                        @if (User.IsInRole("doctor"))
                        {
                            <div class="col-xs-12">
                                <label for="ExecutedTreatmentTypes" class="h4">Uitgevoerde behandelingen</label>
                                <ul>
                                    @foreach (TreatmentDetailViewModel treatment in Model.TreatmentDetailViewModels)
                                    {
                                        @if (treatment.Age <= 90)
                                        {
                                            <li> @treatment.Name / @treatment.TypeId / @treatment.EndDate.ToString("dd-MM-yyyy") </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </form>
                    <hr>
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->
    @if (User.IsInRole("doctor"))
    {
        <a asp-action="Index">Terug naar lijst</a>
    }
    else if (User.IsInRole("patient"))
    {
        <a asp-action="Index" asp-controller="treatment">Terug naar lijst</a>
    }
</div>
