@model Webapp.Models.DoctorViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover" id="doctorTable" style="width:100%;">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Geslacht</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DoctorDetailViewModel item in Model.Doctors)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeNumber }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeNumber }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeNumber })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $("document").ready(function () {
            initDataTable();
        });

        function initDataTable() {
            $("#doctorTable").DataTable({

            });
        }
    </script>
}